html {
  margin: 0;
  height: 100%;
}


body {  
  margin: 0;
  overflow: auto;
  height: 100%;
  background-color: transparent;
}

img {
  height: 100%;
  display: block;
}



.marginleft {
  background: white;
  height:120%;
  width:32%;
  left: 0px;
  position: fixed;
}

.marginright {
  background: white;
  height:120%;
  width:32%;
  right: 0px;
  position: fixed;
}

.block {
  position:relative;
  width:100%;
  height:100%;
  pointer-events: none;
  display: block;
  z-index: 100;
}




.verylong {
  position: absolute;
  margin:0 auto;
  top:0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}


.room {
  width: 100%;
  pointer-events: all;
  white-space: nowrap;
  height:100%;
}

.room img {
  display: inline-block;
  margin: 0;
  height: 100%;
  padding: 0;
}



.divlayer {
  top: 0;
  pointer-events: all;
  display: inline-block;
  white-space: nowrap;
  height:100%;
  width: 100%;
  z-index: 2000;
  position: absolute;
}


.divlayer div{
  display: inline-block;
  width: 32%;
  height:100%;
  background-color: transparent;
  border-radius: 3px;
  border-style: solid;
  border-color: pink;
}










