html {
  margin: 0;
  height: 100%;
}


body {  
  font-size: 0;
  margin: 0;
  height: 100%;
  background-color: transparent;
}


.marginleft {
  background: white;
  height:120%;
  width:32%;
  left: 0px;
  position: fixed;
}

.marginright {
  background: white;
  height:120%;
  width:32%;
  right: 0px;
  position: fixed;
}

.block {
  position:relative;
  width:100%;
  height:100%;
  pointer-events: none;
  display: block;
  z-index: 1000000;
}

.room{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.text{
  display: block;
  position: relative;
  left: 48%;
  right: auto;
  bottom: 55%;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  background: #274F7D;
  z-index: 10000000;
  cursor: pointer;
}


.closed{
  display: block;
  position: absolute;
  height:100%;
  margin: 0 auto;
  z-index:5;
}

.open{
  display: none;
  position: absolute;
  height:100%;
  margin: 0 auto;
  cursor: pointer;
}

.one{
  z-index: 10;
}

.two{
  z-index: 15;
}

.three{
  z-index: 20;
}

.four{
  z-index: 25;
}






