html {
  margin: 0;
  height: 100%;
}


body {  
  font-size: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  background-color: transparent;
}

img {
  height: 100%;
}

div {
  display: inherit;
}


.marginleft {
  background: white;
  height:120%;
  width:32%;
  left: 0px;
  position: fixed;
}

.marginright {
  background: white;
  height:120%;
  width:32%;
  right: 0px;
  position: fixed;
}

.block {
  position:relative;
  width:100%;
  height:100%;
  pointer-events: none;
  display: block;
  z-index: 1000000;
}




.verylong {
  position: absolute;
  margin:0 auto;
  top:0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}


.room {
  width: 100%;
  pointer-events: all;
  white-space: nowrap;
  height:100%;
}

.room img {
  display: inline-block;
  margin: 0;
  height: 100%;
  padding: 0 0 0 0;
}



.divlayer div{
  pointer-events: all;
  white-space: nowrap;
  display: inline-block;
  z-index: 2000;
  position: absolute;
}



.text3{
  display: block;
  z-index: 10000000;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  background: white;
  bottom: 65%;
  left: 136%;
}

.text4{
  display: block;
  z-index: 10000000;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  background: white;
  bottom: 55%;
  left: 190%;
}

.text5{
  display: block;
  z-index: 10000000;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px; 
  background: white;
  bottom: 60%;
  left: 258%;

}


.none {
  display: none;
}


.circle {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  bottom: 20px;
  background: transparent;
}

.circle1 {
    top: 50%;
    margin-left: 310%;
}

.circle2 {
    top: 20px;
    margin-left: 280%;
}

.circle3 {
    bottom: 30%;
    margin-left: 100%;
}

.circle4 {
    bottom: 40px;
    margin-left: 200%;
}
















