body {
    background-color: #d3eaf6;  
    color: #0a3d57;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif; }

a { 
    color: white;
    text-decoration: none; }

mark {
    background-color: pink; }

p {
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px; }

.special {
    background-color: pink;
    
}

.top {
    width: 200px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: 20px;
    left:20px;
    transform: rotate(-20deg);
   
}

.circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 20px;
    right: 100px;
    border-radius: 50px;
}
    