body {
    background-color: white;  
    color: black;
    font-family: Bebas, Futura, Helvetica;
    font-size:20px; }

p {
    color:#04334c;
    background-color: white;
    font-size: 20px;  }
    
a {
    font-size:33;
    color: pink;
    text-decoration: none; }

.center {
    text-align: center; 
    }
    
h1 {
    font-size: 40;
    color: #04334c;
}

.logo {
    width: 373px;
    height: 330px;
    display: block;
    left: 200px;
    right: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    text-align: center;
}

.square {
    top: 40%;
    text-align: center;
}


h2 {
    font-size: 33; 
    text-align: left; 
    color: pink; }
    
.indent {
    text-indent: 100px; }


    