body {
    background-color: #000e52;
    background-size: 100%;
}

h1 {
    position: absolute;
    left: 26%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.enter {
    color: white;
    font-family: Bebas, Futura, Helvetica;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 45%;
    align-items: center;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height:30px;
    width: 90px;
    border: 1px solid white;
    
}

a {
    font-size:20;
    color: white;
    text-decoration: none; }