.a-left { top: 0; left: 0; }
.a-right { top: 0; right: 0; }
.a-top { top: 0; left: 0; }
.a-mid { top: 250px; left: 0; }
.a-bottom { top: 490px; left: 0; }

.a-right-bottom {top: 250px; right: 0;}
.a-left-bottom {bottom: 0; left: 0;}

.a-mid-right {top: 250px; right: 0; }
.i-top-center {top:0; left:12.5px; }
.m-top-center {top:0; left:20px; }

.kr-nudged { top: 0; right: 5px;}