

.letter-wrapper { 
	display: inline-block;
	margin: 0 10px 0px 10px;
	height: 500px;
}

.letter {
	width: 35px;
	height: 500px;
	background: none;
	margin: 0px;
	position: relative;
}

.letter2 {
	width: 50px;
	height: 500px;
	background: none;
	margin: 0px;
	position: relative;
}




.bar {
	position: absolute;
	background: #000;}

.bar2 {
	position: absolute;
	background: #000;
	display: none;}



.vertical {
	width: 10px;
	height: 500px;}

.horizontal {
	width: 35px;
	height: 10px;}

.halfhoriz {
	width: 18px;
	height: 10px;}

.halfvert {
	width: 10px;
	height: 250px;}

.quartvert {
	width: 10px;
	height: 125px;}




.horizontal2 {
	width: 50px;
	height: 10px;
}

.qdash {
	width: 45px;
	height: 10px;
}

.krtop {
	width:30px;
	height: 10px;
}










