

.word-wrapper1 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper2 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper3 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper4 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper5 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper6 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}


.word-wrapper7 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper8 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper9 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper10 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper11 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}


.word-wrapper12 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper13 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper14 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}

.word-wrapper15 {
	display: inline-block;
	height: 550px;
	background: white;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 70px;
	margin-top: 70px;
	cursor: pointer;
}



