
.line {
      display: inline-block;
      width: 1000px;
      font-size: 0px;
      position: absolute;
}

.word {
      font-size: 28px;
      text-transform: uppercase;
      display: inline-block;
      padding-right: 9px;   
}


.title {
      top: 0px;
      font-style: oblique;
      font-family: TradeGothicObl;
}

.footer {
      bottom: 0px;
      font-style: oblique;
      font-family: TradeGothicObl;
}










.poem {
      width: 900px;
      height:660px;
      top: 160px;
      left: 340px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}


.poemTwo {
      width: 900px;
      height:520px;
      top: 160px;
      left: 320px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}



.poemThree {
      width: 900px;
      height:520px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}


.poemFour {
      width: 900px;
      height:480px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}


.poemFive {
      width: 900px;
      height:440px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}

.poemSix {
      width: 1200px;
      height:420px;
      top: 160px;
      left: 320px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}


.poemSeven {
      width: 1200px;
      height:520px;
      top: 160px;
      left: 320px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}

.poemEight {
      width: 1200px;
      height:480px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}

.poemNine {
      width: 1200px;
      height:440px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}

.poemTen {
      width: 1200px;
      height:520px;
      top: 160px;
      left: 360px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}







.about {
      width: 400px;
      height:360px;
      top: 160px;
      left: 330px;
      margin-bottom: 200px;
      font-size: 0px;
      position: absolute;
}




.one {top: 60px;}
.two {top: 100px;}
.three {top: 140px;}

.four {top: 200px;}
.five {top: 240px;}
.six {top: 280px;}

.seven {top: 340px;}
.eight {top: 380px;}
.nine {top: 420px;}

.ten {top: 480px;}
.eleven {top: 520px;}
.twelve {top: 560px;}




.four2 {top: 180px;}
.five2 {top: 220px;}
.six2 {top: 260px;}


.seven3 {top: 320px;}
.eight2 {top: 340px;}








@font-face {
    font-family: TradeGothicObl;
    src: url(TradeGothicLTStd-Bd2Obl.otf);
    font-style: oblique;
      };













