
body {
    background-image: url("Marble-Countetops.jpg");  
    color: white;
    font-family: Bebas, Futura, Helvetica;
    font-size:20px; }

.pot {
    background-color: white;
    width: 200px;
    height: 40px;
    position: fixed;
    top:450px;
    right:300; }
    
.pot2 {
    background-color: white;
    width: 180px;
    height: 200px;
    position: fixed;
    top:450px;
    right:310px; }


.plant1 {
    width: 100px;
	height: 200px;
	background: #a2cbad;
	-moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100% / 50%;
	top:300px;
	right:350px;
	position: fixed; }
	
.plant2 {
    width: 100px;
	height: 200px;
	background: #a2cbad;
	-moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100% / 50%;
	top:350px;
	right:350px;
	position: fixed; }
	
.plant3 {
    width: 100px;
	height: 200px;
	background: #a2cbad;
	-moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100% / 50%;
	top:300px;
	right:350px;
	position: fixed; }