body {
  background-color: white;  
  color: black;
  font-family: Futura;
  font-size:25px;
  margin: 0;
  padding-top: 85px; 
	text-align: center;
}


.title {
    font-size: 60px;
    color: black;
    text-align: center;
    text-decoration: none
}

a {
  text-align: center;
  text-decoration: none;
  color: #989898;
}
        a:link {color:#989898;}
        a:hover{color: #fff;}
        a:active {color:#fff;}

ul {
	list-style-type: none;
	display: block;
  text-align: center;
  display: block;
  padding-top: 10px;
}


.square {
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
  width: 370px;
  height: 400px;
  margin: 30px auto;
  display: inline-block;
  vertical-align: top;

}

@font-face {
    font-family: Futura;
    src: url(FuturaStd-Book.otf);
};


