
body {
    background-color: white; 
    color: white;
    font-family: Bebas, Futura, Helvetica;
    font-size:20px; }

#wrapper {
	top: 200px;
	width: 520px;
	height: 850px;
	margin: 0 auto;
}
#imageContainer {
	top: 200px;
	width: 520px;
	height: 850px;
	position: relative;
	overflow: hidden;
	right: 50%;
	background: #eee;
}
#imageContainer img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#imageContainer .active {
	z-index: 3;
}