* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;
	background: #D6DFE8;
	width: 100%;
}


.container {
	padding-left: 70px;
	padding-bottom: 70px;
	position: relative;
}

.word-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}




.gradient {
    animation-name: animate;
    animation-duration: 1s;
    -webkit-animation: animate 1s infinite;
	-moz-animation: animate 1s infinite;
	animation: animate 1s infinite;
}

@keyframes animate { 
    0%{background: #ff00f5}
    15%{background: #00ffbd}
    30%{background: #fffa01}
    45%{background: #01fff6}
    60%{background: #2fff00}
    85%{background: #f9ff00}
    100%{background: #ff0063}
}





















