body {
    background-color: white;  
    color: black;
    font-size: 16px;
    font-family: Bebas, Futura, Helvetica; }

p {
    background-color: white;
    font-size: 14px;  }
    
h1 {
    color: #04334c; }

.center {
    text-align: center; }
    
    
.triangle {
    position: absolute;
    left: 130px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 120px solid #041d2a; }
	
.snowcap {
    position: absolute;
    left: 160px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid white; }
	
.triangle2 {
    position: absolute;
    left: 260px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 120px solid #041d2a; }
	
.snowcap2 {
    position: absolute;
    left: 290px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid white; }


.triangle3 {
    position: absolute;
    left: 390px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 120px solid #041d2a; }
	
.snowcap3 {
    position: absolute;
    left: 420px;
    top: 150px;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid white; }
	
	

.circle {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 100px;
    left: 370px;
    border-radius: 20px; }
    
    
    

.skinnyleft {
    width: 6px;
    height: 300px;
    background-color: #b9cad2;
    position: absolute;
    top: 60px;
    left: 100px; }
    
.skinnytop {
    width: 440px;
    height: 6px;
    background-color: #b9cad2;
    position: absolute;
    top: 60px;
    left: 100px; }
    
.skinnyright {
    width: 6px;
    height: 300px;
    background-color: #b9cad2;
    position: absolute;
    top: 60px;
    left: 540px; }
    
.skinnybottom {
    width: 446px;
    height: 6px;
    background-color: #b9cad2;
    position: absolute;
    top: 360px;
    left: 100px; }
    
    
    
    
.gradient {
    background-image: linear-gradient(
      #012234, white);
    height: 300px; 
    width: 446px;
    position: absolute;
    top: 63px;
    left: 100px; 
    
}
    
    
.horizon {
    width: 440px;
    height: 40px;
    background-image: linear-gradient(
     white, #e0e0e0);
    position: absolute;
    top: 250px;
    left: 100px; }
    

.snow1 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 3px; }
.snow2 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 150px;
    left: 250px;
    border-radius: 3px; }
.snow3 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 80px;
    left: 300px;
    border-radius: 3px; }
.snow4 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 200px;
    left: 380px;
    border-radius: 3px; }
.snow5 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 490px;
    border-radius: 3px; }
.snow6 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 150px;
    left: 515px;
    border-radius: 3px; }
.snow7 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 150px;
    left: 130px;
    border-radius: 3px; }
.snow8 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 190px;
    left: 230px;
    border-radius: 3px; }
.snow9 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 80px;
    left: 120px;
    border-radius: 3px; }
.snow10 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 320px;
    border-radius: 3px; }
.snow11 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 110px;
    left: 260px;
    border-radius: 3px; }
.snow12 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 130px;
    left: 220px;
    border-radius: 3px; }
.snow13 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 230px;
    left: 130px;
    border-radius: 3px; }
.snow14 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 210px;
    left: 400px;
    border-radius: 3px; }
.snow15 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 200px;
    left: 110px;
    border-radius: 3px; }
.snow16 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 170px;
    left: 350px;
    border-radius: 3px; }
.snow16 {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 170px;
    left: 400px;
    border-radius: 3px; }
    
.snowfall {
    position: absolute;
    animation-duration: 5s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction: normal; }

.snowfall1 {
    position: absolute;
    animation-duration: 10s;
    animation-name: moving1;
    animation-iteration-count: infinite;
    animation-direction: normal; }
    
.snowfall2 {
    position: absolute;
    animation-duration: 7s;
    animation-name: moving2;
    animation-iteration-count: infinite;
    animation-direction: normal; }

.snowfall3 {
    position: absolute;
    animation-duration: 6s;
    animation-name: moving3;
    animation-iteration-count: infinite;
    animation-direction: normal; }
    
.snowfall4 {
    position: absolute;
    animation-duration: 8s;
    animation-name: moving4;
    animation-iteration-count: infinite;
    animation-direction: normal; }
    
@keyframes moving {
    0% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 415px;
    border-radius: 3px;} 
    
    60% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 210px;
    left: 415px;
    border-radius: 3px;}
    
    100% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 250px;
    left: 415px;
    border-radius: 3px;}
}

@keyframes moving1 {
    0% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 290px;
    border-radius: 3px;} 
    
    20% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 160px;
    left: 290px;
    border-radius: 3px;}
    
    70% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 210px;
    left: 290px;
    border-radius: 3px;}
    
    100% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 250px;
    left: 290px;
    border-radius: 3px;}
}

@keyframes moving2 {
    0% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 260px;
    border-radius: 3px;} 
    
    10% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 120px;
    left: 260px;
    border-radius: 3px;}
    
    30% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 190px;
    left: 260px;
    border-radius: 3px;}
    
    100% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 250px;
    left: 260px;
    border-radius: 3px;}
}

@keyframes moving3 {
    0% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 480px;
    border-radius: 3px;} 
    
    30% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 150px;
    left: 480px;
    border-radius: 3px;}
    
    100% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 250px;
    left: 480px;
    border-radius: 3px;}
}

@keyframes moving4 {
    0% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 3px;} 
    
    30% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 160px;
    left: 150px;
    border-radius: 3px;}
    
    100% { background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 250px;
    left: 150px;
    border-radius: 3px;}
}


